body {
    background-image:url(Captura\ de\ tela\ 2025-12-03\ 194041.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo img {
    height: 70px;
}

header {
    background-color: #00999c;
    padding: 10px 0;
}

a {
  color: rgb(0, 0, 0);
text-decoration: none;
}
