body {
    background-image:url(tela.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo img {
    height: 70px;
}

header {
    background-color: #00999c;
    padding: 10px 0;
}